{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "no-console": 0,
    "global-require": 0
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "globals": {
    "Swiper": true,
    "jQuery": true,
    "$":true,
    "TimelineMax": true,
    "document": true,
    "Image": true,
    "window": true
  }
}
