extends layout/layout
include layout/mixins

block htmlTitle
  title Inicio | Luna

block importtop
  link(rel='stylesheet', href='styles/main.css')

block importbottom
  script(src="js/main.bundle.js")

block content
  h1 hello!
